<div class="container">
  <div style="text-align: center;">{{searchFilter}}</div>
  <div id="map">
    <div>Google Places API - Hardcode search for "Pizza" in toronto</div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="true">
      <ng-container *ngIf="mapResults">
        <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
        <ng-container *ngFor="let marker of mapResults; let i = index">
          <ng-container *ngIf="i < maxMarkers">
            <agm-marker [latitude]="marker.geometry.location.lat()"
                        [longitude]="marker.geometry.location.lng()">
              <agm-info-window>
                <img src="{{marker.icon}}" width="20px;"/> {{marker.name}}
                <div>Rating: {{marker.rating}}</div>
              </agm-info-window>
            </agm-marker>
          </ng-container>
        </ng-container>
      </ng-container>
      <agm-marker [latitude]="lat" [longitude]="lng" *ngIf="locationChoosen"></agm-marker>
    </agm-map>
  </div>
</div>
