<div class="container">
  <div class="row justify-content-center">
<div class="col-12 col-md-10 col-lg-8">
      <app-gps></app-gps>
      <!-- my comment -->
      <app-user-location></app-user-location>
    </div>
    <div class="col-12 col-md-10 col-lg-8">
      <input type="text" class="form-control" [(ngModel)]="searchFilter" (keyup)="onKeyPress($event)" placeholder="Looking for..."/>
    </div>
    <div class="col-12 center searchButtons">
      <button class="btn btn-primary" (click)="onSearch()">Search</button>
      <button class="btn btn-warning" (click)="clearSearch()">Clear</button>
    </div>
  </div>
</div>

